In [1]:
# Modules
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

# Part 1: Data Scraping and Preparation

## Step 1: Scraping Competitior's data

In [2]:
# get the spaceWeather data
spaceWeather = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares')
sapceWeather_text = spaceWeather.text
spaceWeather_page = BeautifulSoup(sapceWeather_text)
spaceWeather_page.prettify()[:1000]

'<!DOCTYPE html>\n<html lang="en">\n <head>\n  <title>\n   Top 50 solar flares | Solar activity | SpaceWeatherLive.com\n  </title>\n  <meta charset="utf-8"/>\n  <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" name="robots"/>\n  <meta content="On this page you will find an overview of the strongest solar flares since June 1996 together with links to more information in our archive and a v..." name="description"/>\n  <meta content="SpaceWeatherLive, Live, Aurora, Auroral activity, Aurora Australis, Aurora Borealis, northern lights, Solar wind, Kp-index, Space Weather, Space Weather Updates, Aurora forecast, Space Weather Alerts, Solar activity, Solar flares, Sunspots, Aurora alert, Auroral activity, The Sun, SDO, STEREO, EPAM, DSCOVR" name="keywords"/>\n  <!-- Facebook meta -->\n  <meta content="https://spaceweatherlive.com/en/solar-activity/top-50-solar-flares" property="og:url"/>\n  <meta content="article" property="og:type"/>\n  <meta content="Top 50 sol'

In [3]:
table = spaceWeather_page.find_all('table', class_='table table-striped table-responsive-md')
len(table)

1

In [4]:
# seperate the data into lists
rank = []
x_class = []
date = []
region = []
start_time = []
max_time = []
end_time = []
movie = []

rows = table[0].find_all('tr')
i = 0 
for row in rows:
    if i == 0: # skip the header
        i += 1
        continue
    cols = row.find_all('td')
    rank.append(cols[0].text)
    x_class.append(cols[1].text)
    date.append(cols[2].text)
    region.append(cols[3].text)
    start_time.append(cols[4].text)
    max_time.append(cols[5].text)
    end_time.append(cols[6].text)
    movie.append(cols[7].text)
len(rank), len(x_class), len(date), len(region), len(start_time), len(max_time), len(end_time), len(movie)

(50, 50, 50, 50, 50, 50, 50, 50)

In [5]:
# create a dataframe
spaceWeatherDataFrame = pd.DataFrame({'Rank':rank,'X_class':x_class,'Date':date,'Region':region,'Start_time':start_time,'Max_time':max_time,'End_time':end_time,'Movie':movie})
spaceWeatherDataFrame.head()

,Rank,X_class,Date,Region,Start_time,Max_time,End_time,Movie
0,1,X28+,2003/11/04,0486,19:29,19:53,20:06,MovieView archive
1,2,X20+,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2+,2003/10/28,0486,09:51,11:10,11:24,MovieView archive
3,4,X17+,2005/09/07,0808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive

## Step 2: Tidy the top 50 solar flare data

In [6]:
# drop the Movie column
modifiedDataFrame=spaceWeatherDataFrame
modifiedDataFrame.drop(['Movie'],axis=1,inplace=True)
modifiedDataFrame.head()

  Rank X_class        Date Region Start_time Max_time End_time
0    1    X28+  2003/11/04   0486      19:29    19:53    20:06
1    2    X20+  2001/04/02   9393      21:32    21:51    22:03
2    3  X17.2+  2003/10/28   0486      09:51    11:10    11:24
3    4    X17+  2005/09/07   0808      17:17    17:40    18:03
4    5   X14.4  2001/04/15   9415      13:19    13:50    13:55

### Adding the date to Start_time, End_time, Max_time columns 
- Compining the string values of the **Date** column and each value of the **time** columns
- Dropping the **Date** column

In [7]:
modifiedDataFrame['Start_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['Start_time']
modifiedDataFrame['End_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['End_time']
modifiedDataFrame['Max_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['Max_time']
modifiedDataFrame.drop(['Date'], axis=1, inplace=True)
modifiedDataFrame.head()

  Rank X_class Region        Start_time          Max_time          End_time
0    1    X28+   0486  2003/11/04 19:29  2003/11/04 19:53  2003/11/04 20:06
1    2    X20+   9393  2001/04/02 21:32  2001/04/02 21:51  2001/04/02 22:03
2    3  X17.2+   0486  2003/10/28 09:51  2003/10/28 11:10  2003/10/28 11:24
3    4    X17+   0808  2005/09/07 17:17  2005/09/07 17:40  2005/09/07 18:03
4    5   X14.4   9415  2001/04/15 13:19  2001/04/15 13:50  2001/04/15 13:55

### Converting the Time columns from String to Pandas TimeStamp
- using `pd.to_datetime`

In [8]:
modifiedDataFrame['Start_time'] = pd.to_datetime(modifiedDataFrame['Start_time'])
modifiedDataFrame['End_time'] = pd.to_datetime(modifiedDataFrame['End_time'])
modifiedDataFrame['Max_time'] = pd.to_datetime(modifiedDataFrame['Max_time'])
modifiedDataFrame[:10]

,Rank,X_class,Region,Start_time,Max_time,End_time
0,1,X28+,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00
5,6,X10,0486,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00
8,9,X9,0930,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00
9,10,X8.3,0486,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00

In [9]:
modifiedDataFrame.dtypes

Rank                  object
X_class               object
Region                object
Start_time    datetime64[ns]
Max_time      datetime64[ns]
End_time      datetime64[ns]
dtype: object

In [10]:
# check for missing values
for col in modifiedDataFrame.columns[:3]:
    print(modifiedDataFrame[col].str.contains('-').sum())

0
0
0

In [11]:
# save the SpaceWeather dataset
modifiedDataFrame.to_csv('space.csv')

## Step3: Scrape the NASA data

In [12]:
# get the website content
reb = requests.get("http://www.hcbravo.org/IntroDataSci/misc/waves_type2.html")
reb.text[:1000]

'<html><body>\n<h2>Wind/WAVES type II bursts and CMEs</h2>\n<a href="waves_type2_description.htm">A Brief Description</a>\n<pre>\nNOTE: List includes DH type II bursts observed by Wind spacecraft, \nbut after STEREO launch on Oct 2006 the start and end times and \nfrequencies of bursts are determined using both Wind and STEREO \nobservations\n\n=================================================================================================\n                DH Type II                       Flare                     CME                   \n----------------------------------------   -----------------   --------------------------   Plots\nStart            End          Frequency     Loc   NOAA  Imp    Date  Time CPA  Width  Spd        \n(1)        (2)   (3)   (4)   (5)    (6)     (7)    (8)  (9)    (10)  (11) (12)  (13) (14)   (15) \n=================================================================================================\n1997/04/01 14:00 04/01 14:15  <a href="http://cdaw.gsfc.nasa.gov/CME_list/d'

In [13]:
page=BeautifulSoup(reb.text)
page.prettify()[:1000]

'<html>\n <body>\n  <h2>\n   Wind/WAVES type II bursts and CMEs\n  </h2>\n  <a href="waves_type2_description.htm">\n   A Brief Description\n  </a>\n  <pre>\nNOTE: List includes DH type II bursts observed by Wind spacecraft, \nbut after STEREO launch on Oct 2006 the start and end times and \nfrequencies of bursts are determined using both Wind and STEREO \nobservations\n\n=================================================================================================\n                DH Type II                       Flare                     CME                   \n----------------------------------------   -----------------   --------------------------   Plots\nStart            End          Frequency     Loc   NOAA  Imp    Date  Time CPA  Width  Spd        \n(1)        (2)   (3)   (4)   (5)    (6)     (7)    (8)  (9)    (10)  (11) (12)  (13) (14)   (15) \n=================================================================================================\n1997/04/01 14:00 04/01 14:15  <a href="http://cdaw.gs'

### Using Regex to scrap the content of the NASA website
- getting the rows of the website divided into lists of values
- e.g. `['1997/04/01', '14:00', '04/01', '14:15', '8000', '4000', 'S25E16', '8026', 'M1.3', '04/01', '15:18', '74', '79', '312', 'PHTX']`

In [14]:
rex=r'\d+/.*'
l=re.findall(rex,page.text)
newList=[]
for i in l:
    newList.append(i.split())
newList[0]

['1997/04/01',
 '14:00',
 '04/01',
 '14:15',
 '8000',
 '4000',
 'S25E16',
 '8026',
 'M1.3',
 '04/01',
 '15:18',
 '74',
 '79',
 '312',
 'PHTX']

In [15]:
# put the values into seperated lists
startDate=[]
startTime=[]
endDate=[]
endTime=[]
startFrequency=[]
endFrequency=[]
flare_Location=[]
flare_region=[]
importance=[]
CME_Date=[]
CME_Time=[]
CPA=[]
width = []
speed = []
for i in newList:
    startDate.append(i[0])
    startTime.append(i[1])
    endDate.append(i[2])
    endTime.append(i[3])
    startFrequency.append(i[4])
    endFrequency.append(i[5])
    flare_Location.append(i[6])
    flare_region.append(i[7])
    importance.append(i[8])
    CME_Date.append(i[9])
    CME_Time.append(i[10])
    CPA.append(i[11])
    width.append(i[12])
    speed.append(i[13])

In [16]:
# put the lists into Pandas df
df = pd.DataFrame({'startDate':startDate,'startTime':startTime,'endDate':endDate,
                   'endTime':endTime,'startFrequency':startFrequency,'endFrequency':endFrequency,
                   'flare_Location': flare_Location,'flare_region':flare_region,'importance':importance,
                   'CME_Date':CME_Date,'CME_Time':CME_Time, 'width':width, 'speed':speed, 'CPA':CPA})
df.head()

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,79,312,74
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,360,878,Halo
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,360,464,Halo
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,165,296,263
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,155,712,133

In [17]:
len(df.columns)

14

In [18]:
df.columns

Index(['startDate', 'startTime', 'endDate', 'endTime', 'startFrequency',
       'endFrequency', 'flare_Location', 'flare_region', 'importance',
       'CME_Date', 'CME_Time', 'width', 'speed', 'CPA'],
      dtype='object')

### Missing Values per Column
- missing values: has `-` in it

In [19]:
missing_cols = []
for col in df.columns:
    s = df[col].str.contains('-').sum()
    print(col,':', s)
    if s>0:
        missing_cols.append(col)

startDate : 0
startTime : 0
endDate : 0
endTime : 0
startFrequency : 0
endFrequency : 0
flare_Location : 6
flare_region : 83
importance : 105
CME_Date : 20
CME_Time : 20
width : 20
speed : 20
CPA : 21

In [20]:
# columns with missing values
missing_cols

['flare_Location',
 'flare_region',
 'importance',
 'CME_Date',
 'CME_Time',
 'width',
 'speed',
 'CPA']

In [21]:
# discovering rows with missing data
df[df[col].str.contains('-')]

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
96,2000/11/09,16:15,11/11,04:00,10000,40,S11E10,9221,M1.0,--/--,--:--,----,----,----
149,2001/10/09,11:20,10/09,11:55,14000,2000,S28E08,9653,----,--/--,--:--,----,----,----
150,2001/10/09,13:10,10/09,23:00,5000,50,BACK,-----,----,--/--,--:--,----,----,----
229,2003/07/10,14:10,07/10,16:10,4000,400,N13W90,10397,M3.6,--/--,--:--,----,----,----
250,2004/01/05,03:40,01/05,03:50,9000,2500,S12E38,10536,M6.9,--/--,--:--,----,----,----
261,2004/06/22,22:07,06/22,22:30,10000,7000,S12W24,10635,C1.7,--/--,--:--,----,----,----
262,2004/06/23,06:30,06/23,08:55,14000,5000,S09W21,10635,C2.5,--/--,--:--,----,----,----
269,2004/09/19,17:15,09/19,18:15,14000,2500,N03W58,10672,M1.9,--/--,--:--,----,----,----
284,2005/01/04,11:20,01/04,11:35,13000,6000,N05W11,10715,C7.3,--/--,--:--,----,----,----
298,2005/06/16,20:25,06/16,21:40,9000,1000,N08W90,10775,M4.0,--/--,--:--,----,----,----
318,2005/09/07,18:05,09/08,00:00,12000,200,S11E77,10808,X1.7,--/--,--:--,----,----,----
330,2006/12/05,10:50,12/05,20:00,14000,250,S07E68,10930,X9.0,--/--,--:--,----,----,----
331,2006/12/06,02:00,12/06,03:30,1000,200,S07E69,10930,M1.1,--/--,--:--,----,----,----
332,2006/12/06,08:30,12/06,09:45,4000,600,S04E63,10930,M6.0,--/--,--:--,----,----,----
333,2006/12/06,19:00,12/08,24:00,16000,30,S05E64,10930,X6.5,--/--,--:--,----,----,----
341,2010/08/01,09:20,08/01,17:30,2000,700,N20E36,11092,C3.2,--/--,--:--,----,----,----
419,2013/10/13,18:47,10/14,05:15,2100,600,------,-----,----,10/13,14:12,83,293,----
432,2013/12/05,20:48,12/05,21:35,14000,2500,------,-----,----,--/--,--:--,---,----,----
437,2014/01/04,17:41,01/04,18:47,9000,100,------,-----,----,--/--,--:--,---,----,----
438,2014/01/04,19:03,01/05,09:00,6500,100,------,-----,----,--/--,--:--,---,----,----
451,2014/04/02,18:49,04/03,06:40,2400,200,------,-----,----,--/--,--:--,---,----,----

## Step 4: Tidy the NASA dataframe

In [22]:
# get a copy of the data before proceding 
new_df = df.copy()

In [23]:
# before replacing missing values
new_df.CPA[95:100]

95     271
96    ----
97     257
98    Halo
99     124
Name: CPA, dtype: object

In [24]:
# replace all missing valus with nan in CPA column
new_df.loc[new_df['CPA'].str.contains('-'), 'CPA'] = 'nan'

In [25]:
# after replacing missing with nan
new_df.CPA[95:100]

95     271
96     nan
97     257
98    Halo
99     124
Name: CPA, dtype: object

### Replace any missing entries as `nan` in all columns

In [26]:
# replace missing with nan
for col in df.columns:
    new_df.loc[new_df[col].str.contains('-'), col] = 'nan'

In [27]:
new_df[90:140]

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
90,2000/09/25,02:20,09/25,03:00,14000,1000,N09W18,9169,M1.8,09/25,02:50,360,587,Halo
91,2000/10/05,22:10,10/05,22:35,5000,1250,N25W90,9177,nan,10/05,18:26,86,1046,323
92,2000/10/16,07:10,10/16,08:00,14000,1000,N03W90,9182,M2.5,10/16,07:27,360,1336,Halo
93,2000/10/25,09:30,10/25,24:00,10000,300,N09W63,9199,C4.0,10/25,08:26,360,770,Halo
94,2000/11/03,18:35,11/03,18:45,4000,2500,N02W02,9213,C3.2,11/03,18:26,360,291,Halo
95,2000/11/08,23:20,11/09,12:00,4000,200,N10W77,9213,M7.4,11/08,23:06,>170,1738,271
96,2000/11/09,16:15,11/11,04:00,10000,40,S11E10,9221,M1.0,nan,nan,nan,nan,nan
97,2000/11/12,14:25,11/12,14:40,3000,2000,S14E05,9227,C4.4,11/12,14:50,50,581,257
98,2000/11/23,08:16,11/23,08:35,14000,9000,S26W40,9238,C5.4,11/23,06:06,360,492,Halo
99,2000/11/23,21:00,11/23,21:06,3500,3000,S20E60,9239,C7.9,11/23,21:30,148,1198,124
100,2000/11/24,05:10,11/24,15:00,14000,100,N20W05,9236,X2.0,11/24,05:30,360,1289,Halo
101,2000/11/24,15:25,11/24,22:00,14000,200,N22W07,9236,X2.3,11/24,15:30,360,1245,Halo
102,2000/11/24,22:24,11/24,22:36,4000,3000,N21W14,9236,X1.8,11/24,22:06,360,1005,Halo
103,2000/11/25,01:25,11/25,02:25,14000,3000,N07E50,9240,M8.2,11/25,01:31,360,2519,Halo
104,2000/11/25,19:00,11/25,19:35,6000,2000,N20W23,9236,X1.9,11/25,19:31,360,671,Halo
105,2000/11/25,19:55,11/25,20:25,13000,4000,N20W27,9236,nan,11/25,21:30,59,388,345
106,2000/11/26,17:00,11/26,17:15,14000,7000,N18W38,9236,X4.0,11/26,17:06,360,980,Halo
107,2000/12/28,12:40,12/28,13:38,14000,1900,Back,nan,nan,12/28,12:06,360,930,Halo
108,2001/01/20,19:12,01/20,19:16,14000,6000,S07E40,9313,M1.2,01/20,19:31,360,839,Halo
109,2001/01/20,21:30,01/20,24:00,14000,500,S07E46,9313,M7.7,01/20,21:30,360,1507,Halo
110,2001/01/26,12:06,01/26,14:20,14000,400,S23W57,9320,C1.6,01/26,12:06,176,928,276
111,2001/01/28,15:45,01/28,17:00,14000,200,S04W59,9313,M1.5,01/28,15:54,360,916,Halo
112,2001/02/11,01:40,02/11,01:55,12000,5500,N24W57,9346,C6.5,02/11,01:31,360,1183,Halo
113,2001/03/10,04:18,03/10,04:32,14000,4000,N27W42,9368,M6.7,03/10,04:26,81,819,297
114,2001/03/12,05:35,03/12,05:45,3000,1500,BACK,nan,nan,03/12,05:50,48,829,233
115,2001/03/27,02:35,03/27,03:15,6000,1000,N14E17,9393,C7.3,03/27,02:06,60,300,154
116,2001/03/27,15:00,03/27,15:20,4000,1500,N15E14,9393,C5.6,03/27,17:06,66,340,46
117,2001/03/29,10:12,03/30,06:00,4000,60,N20W19,9393,X1.7,03/29,10:26,360,942,Halo
118,2001/04/02,11:30,04/02,12:00,14000,5000,N20W70,9393,X1.1,04/02,11:26,80,992,270
119,2001/04/02,22:05,04/03,02:30,14000,250,N19W72,9393,X20.,04/02,22:06,244,2505,261
120,2001/04/03,03:40,04/03,07:25,14000,400,S21E83,9415,X1.2,04/03,03:26,292,1613,108
121,2001/04/04,09:50,04/04,10:10,13000,3000,S21E68,9415,M1.6,04/04,09:50,89,1065,86
122,2001/04/05,00:00,04/05,00:00,14000,7500,N14W85,9393,M8.4,04/05,09:06,205,1750,283
123,2001/04/06,19:35,04/07,01:50,14000,230,S21E31,9415,X5.6,04/06,19:30,360,1270,Halo
124,2001/04/09,15:53,04/10,01:00,12000,100,S21W04,9415,M7.9,04/09,15:54,360,1192,Halo
125,2001/04/10,05:24,04/10,24:00,14000,100,S23W09,9415,X2.3,04/10,05:30,360,2411,Halo
126,2001/04/11,13:15,04/11,14:15,14000,1500,S22W27,9415,M2.3,04/11,13:31,360,1103,Halo
127,2001/04/12,10:20,04/12,10:40,14000,7000,S19W43,9415,X2.0,04/12,10:31,360,1184,Halo
128,2001/04/15,14:05,04/16,13:00,14000,40,S20W85,9415,X14.,04/15,14:06,167,1199,245
129,2001/04/18,02:55,04/18,14:00,1000,100,SW90b,nan,C2.2,04/18,02:30,360,2465,Halo
130,2001/04/26,12:40,04/28,05:00,5000,20,N20W05,9433,M1.5,04/26,12:30,360,1006,Halo
131,2001/05/07,12:00,05/07,13:50,2000,280,NW90b,nan,nan,05/07,12:06,205,1223,286
132,2001/05/12,23:52,05/13,00:12,3000,1000,S17E00,9455,M3.0,05/13,02:21,132,527,190
133,2001/05/30,00:25,05/30,01:38,14000,1000,E90b,9481,nan,05/30,00:06,216,2087,70
134,2001/06/15,10:50,06/15,11:15,7000,3000,S26E41,9502,M6.3,06/15,10:31,119,1090,185
135,2001/06/15,16:05,06/15,16:20,14000,3500,W90b,nan,nan,06/15,15:56,360,1701,Halo
136,2001/08/16,00:10,08/15,08:40,5400,200,Back,nan,nan,08/15,23:54,360,1575,Halo
137,2001/08/25,16:50,08/25,23:00,8000,170,S17E34,9591,X5.3,08/25,16:50,360,1433,Halo
138,2001/08/30,20:43,08/30,20:47,12000,10000,N15E44,9601,M3.0,08/30,21:26,76,351,82
139,2001/09/03,18:48,09/03,19:00,12000,7500,S23E90,9607,M2.5,09/03,18:35,207,1352,127

### is_halo Column
1. If **CPA** row contains *Halo* then **isHalo** is set to `True`
2. Replace *Halo* in **CPA** column with `na`

In [28]:
# new column to indicate halo
new_df['is_halo'] = new_df['CPA'].eq('Halo')


# replace halo with na
new_df.loc[new_df['CPA'].str.contains('Halo'), 'CPA'] = 'na'

In [29]:
new_df[['CPA', 'is_halo']][:10]

   CPA  is_halo
0   74    False
1   na     True
2   na     True
3  263    False
4  133    False
5  240    False
6  233    False
7   na     True
8   na     True
9   98    False

### Creating **lower_bound** column
- if **width** row contains `>` then **lower_bound** is set to `True`
- Remove `>` from the column
- Remove all non-numerical character
 - found `h` then remove it

In [30]:
# Lower bound column
new_df['lower_bound'] = new_df.width.str.contains('>')

In [31]:
# remove non-numberic characters
new_df.loc[new_df.width.str.contains('>'), 'width'] = new_df.loc[new_df.width.str.contains('>'), 'width'].replace(r'>', '', regex=True)
new_df.loc[new_df.width.str.contains('h'), 'width'] = new_df.loc[new_df.width.str.contains('h'), 'width'].replace(r'h', '', regex=True)

In [32]:
new_df.width.str.contains('h').sum()

0

In [33]:
new_df.width.str.contains('>').sum()

0

In [34]:
new_df[:30]

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA,is_halo,lower_bound
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,79,312,74,False,False
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,360,878,na,True,False
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,360,464,na,True,False
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,165,296,263,False,False
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,155,712,133,False,False
5,1997/11/03,05:15,11/03,12:00,14000,250,S20W13,8100,C8.6,11/03,05:28,109,227,240,False,False
6,1997/11/03,10:30,11/03,11:30,14000,5000,S16W21,8100,M4.2,11/03,11:11,122,352,233,False,False
7,1997/11/04,06:00,11/05,04:30,14000,100,S14W33,8100,X2.1,11/04,06:10,360,785,na,True,False
8,1997/11/06,12:20,11/07,08:30,14000,100,S18W63,8100,X9.4,11/06,12:10,360,1556,na,True,False
9,1997/11/27,13:30,11/27,14:00,14000,7000,N17E63,8113,X2.6,11/27,13:56,91,441,98,False,False
10,1997/12/12,22:45,12/12,23:20,14000,8000,N25W52,8116,B9.4,12/13,00:26,73,191,278,False,False
11,1998/01/25,15:03,01/25,15:18,14000,10000,N21E25,8141,C1.1,01/25,15:26,360,693,na,True,False
12,1998/03/29,03:40,03/29,03:52,14000,7000,SW90,nan,nan,03/29,03:48,360,1397,na,True,False
13,1998/04/20,10:25,04/22,06:00,10000,35,S22W90,8194,M1.4,04/20,10:07,165,1863,284,False,False
14,1998/04/23,06:00,04/23,15:30,14000,200,S17E90,8210,X1.2,04/23,05:55,360,1691,na,True,False
15,1998/04/24,09:17,04/24,09:25,4700,2600,S10E90,8210,C8.9,04/24,08:55,84,1184,100,False,False
16,1998/04/27,09:20,04/27,10:00,10000,1000,S16E50,8210,X1.0,04/27,08:56,360,1385,na,True,False
17,1998/04/29,16:30,04/29,17:00,10000,2000,S18E20,8210,M6.8,04/29,16:58,360,1374,na,True,False
18,1998/05/02,14:25,05/02,14:50,5000,3000,S15W15,8210,X1.1,05/02,14:06,360,938,na,True,False
19,1998/05/06,08:25,05/06,08:35,14000,5000,S11W65,8210,X2.7,05/06,08:29,190,1099,309,False,False
20,1998/05/09,03:35,05/09,10:00,9000,400,S14W89,8210,M7.7,05/09,03:35,178,2331,262,False,False
21,1998/05/11,21:40,05/11,22:00,10000,1000,N32W90,8214,B6.6,05/11,21:55,301,830,208,False,True
22,1998/05/19,10:00,05/19,11:30,14000,3000,N29W46,8222,B7.9,05/19,10:27,139,801,268,False,False
23,1998/05/27,13:30,05/27,14:20,4000,1000,N19W62,8226,C7.5,05/27,13:45,268,878,175,False,False
24,1998/06/11,10:15,06/11,10:20,8000,4000,N16E86,8243,M1.4,06/11,10:28,177,1223,123,False,False
25,1998/06/16,18:20,06/17,21:00,12000,50,S22W90,8232,M1.0,06/16,18:27,281,1484,341,False,False
26,1998/06/20,19:39,06/20,20:00,2600,1800,Back,nan,nan,06/20,18:20,360,964,na,True,False
27,1998/06/22,07:15,06/22,09:20,6000,2000,N16W46,8243,C2.9,06/22,05:01,59,206,265,False,False
28,1998/11/02,14:00,11/02,14:40,14000,4000,S25E47,8373,C4.4,11/02,14:18,169,661,116,False,False
29,1998/11/05,22:00,11/07,08:00,5000,50,N22W18,8375,M8.4,11/05,20:44,360,1118,na,True,False

### Compine Date and Time columns for Start, End and CME
- endDate: getting the years value from **startDate** column before compining it with **endTime** column
- startDate: compining **startDate** with **startTime** columns

In [35]:
new_df['endDate'] = new_df['startDate'].str.slice(start=0, stop=5) + new_df['endDate'] + ' ' + new_df['endTime']
new_df['startDate'] = new_df['startDate'] + ' ' + new_df['startTime']

# drop endTime and startTime columns
new_df.drop(['endTime', 'startTime'], axis=1, inplace=True)

# rename
new_df.rename(columns={'startDate': 'Start_Datetime', 'endDate':'End_Datetime'}, inplace=True)

In [36]:
new_df.dtypes

Start_Datetime    object
End_Datetime      object
startFrequency    object
endFrequency      object
flare_Location    object
flare_region      object
importance        object
CME_Date          object
CME_Time          object
width             object
speed             object
CPA               object
is_halo             bool
lower_bound         bool
dtype: object

## Custom Function for datetime conversion
- some time data had `24` hours instead of `0` in it so we made a special case for it 
 - By setting the `hours` to `0` and incrementing days by `1`

In [37]:
def custom_to_datetime(date):
    # If the time is 24, set it to 0 and increment day by 1
    if date[11:13] == '24':
        return pd.to_datetime(date[:-5]) + pd.Timedelta(days=1)
    else:
        return pd.to_datetime(date)

In [38]:
# applying custom_to_datetime function to time columns
for col in ['Start_Datetime', 'End_Datetime']:
    new_df[col] = new_df[col].apply(custom_to_datetime)

In [39]:
new_df.dtypes

Start_Datetime    datetime64[ns]
End_Datetime      datetime64[ns]
startFrequency            object
endFrequency              object
flare_Location            object
flare_region              object
importance                object
CME_Date                  object
CME_Time                  object
width                     object
speed                     object
CPA                       object
is_halo                     bool
lower_bound                 bool
dtype: object

In [40]:
# Saving the nasa dataset
new_df.to_csv('nasa.csv')